.treeview {
  position: relative;
  margin: 1rem 0 1rem 1rem;
  padding: 0;
  list-style-type: none;
  text-align: left;
  app-tree-list {
    ul {
      list-style-type: none;
      text-align: left;
      margin: 0 0 10px 1rem;
      padding: 0;
      position: relative;
    }
  }
  .plus {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    width: 20px;
    height: 20px;
    line-height: 1;
    overflow: hidden;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    left: -25px;
    i {
      font-style: normal;
      flex: 1 0 100%;
    }
    b {
      display: none;
      flex: 1 0 100%;
    }
    ~ app-tree-list {
      ul {
        display: none;
      }
    }
  }
  .plus.active {
    b {
      display: block;
    }
    i {
      display: none;
    }
    ~ app-tree-list {
      ul {
        display: block;
      }
    }
  }
  .parent-item {
    input[type="checkbox"] {
      &:checked {
        ~ {
          ul {
            input[type="checkbox"] {
              display: inline-block;
            }
            ul {
              display: block;
            }
            .plus {
              display: none;
            }
          }
        }
      }
    }
  }
  label {
    margin-left: 10px;
  }
}
